<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>{% block title %} DailyNeeds - One Stop for all your needs. {% endblock title %}</title>
  </head>
  <body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href= "/">DailyNeeds</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link {% block homeactive %}{% endblock homeactive %} " aria-current="page" href= "/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% block aboutactive %}{% endblock aboutactive %}" href= "/blog/">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% block contactactive %}{% endblock contactactive %}" href= "/contact">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% block cartactive %}{% endblock cartactive %}" href= "/cart">Cart
                  <span class="badge bg-info">
                    {% if request.session.cart %}    
                    {{request.session.cart.keys|length}}</span>
                    {% else %}
                    0
                    {% endif %}
                  </a>
    
              </li>
              <li class="nav-item">
                <a class="nav-link {% block orderactive %}{% endblock orderactive %}" href= "/order">Orders</a>
              </li>
              <li class="nav-item dropdown">
                {% if user.is_authenticated %}
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Welcome {{request.user}}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/logout">Logout</a></li>
                </ul>
                {% else %}
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Login
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#loginmodal">Login</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Shopkeeper</a></li>
                </ul>
                {% endif %}
              </li>
            </ul>
            <form class="d-flex" method="GET" action="/search"  >
              <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    -->

    <!-- MESSAGES -->

    {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
       {{message}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

  <!-- MODAL -->
  <!-- Login MODAL  -->
  <div class="modal" id="loginmodal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/login" method="POST">
            {% csrf_token %}
            <div class="row mb-3">
              <label for="inputUsername3" class="col-sm-2 col-form-label">Username</label>
              <div class="col-sm-10">
                <input type="username" name="loginusername" class="form-control" id="inputUsername3">
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
              <div class="col-sm-10">
                <input type="password" name="loginpassword" class="form-control" id="inputPassword3">
              </div>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary">Login</button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#signupmodal">Create new account</button>
        </div>
      </div>
    </div>
  </div>
  <!-- SignUp MODAL -->
    <div class="modal" tabindex="-1" id="signupmodal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form class="row g-3" action="/signup" method="POST">
    {% csrf_token %}
    <div class="col-12">
      <label for="Username" class="form-label">Username</label>
      <input type="text" name="username" class="form-control" id="Username" placeholder="Username">
    </div>
    <div class="col-12">
        <label for="name" class="form-label">Name</label>
        <input type="text" name="name" class="form-control" id="name" placeholder="Ayush Agarwal">
      </div>
      <div class="col-12">
        <label for="phone" class="form-label">Phone No.</label>
        <input type="text" name="phone" class="form-control" id="phone">
      </div>
    <div class="col-12">
      <label for="inputEmail4" class="form-label">Email</label>
      <input type="email" name="email" class="form-control" id="inputEmail4" placeholder="abc@def.com">
    </div>   
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Password</label>
      <input type="password" name='pass1' class="form-control" id="inputPassword4">
    </div>  
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Confirm Password</label>
      <input type="password" name="pass2" class="form-control" id="inputPassword4">
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
          </div>
        </div>
      </div>
    </div>


    {% block main %}
      
    {% endblock %}
    
  </body>
</html>