{% extends 'home/index.html' %}
{% block blogactive %}
  active
{% endblock blogactive %}
{% block main %}
<div class="container m-3">
    <div class="row">
{% for post in allPosts %}
<div class="card m-2" style="width: 100%;">
    <div class="card-body">
      <h5 class="card-title">{{post.title}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{post.author}}</h6>
      <h6 class="card-subtitle mb-2 text-muted">{{post.timestamp}}</h6>
      <p class="card-text">{{post.content|truncatechars:500}}</p>
      <a href="/blog/{{post.slug}}" class="card-link">Continue Reading...</a>
    </div>
  </div>
  {% endfor %}
</div>
</div>
{% endblock main %}